/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
firebase-key.json
firebase-sign-in.json
kanzankazu-d3594-8285bc608d48
/public/vendor/dashboard/documents/backup/*
